{% extends 'Main/base.html' %}

{% block content %}
<div class="container">
    <h2>Registrar Usuario</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>

    {% if form.errors %}
        <div class="error">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
